/*
 * SOT Main CSS
 *
 * Copyright:
 *
 * Licensed:
 *
 * Revision:
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: Sans-Serif;
}

#wrap {
    margin:0 auto;
}

#header {
    background: url(../images/Banner.jpg) repeat-x 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80px;
    border-bottom: 2px solid #4cf126;
    min-width: 800px;
}

#controls dd {
    padding-top: 5px;
    padding-bottom: 5px;
}

#controls select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 350px;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

#instructions p {
    padding: 5px;
}

h1 {
    font-size: 1.75em;
    font-weight:bold;
    padding: 5px;
    /* google Iceland would be nice web font */
    font-family: impact, arial, trebuchet, verdana, sans-serif;
    font-style: oblique;
    background-color: black;
    color: rgb(94, 237, 0);
}
h2 {
    font-size: 1.5em;
    font-weight:bold;
    padding: 5px;
}
h3 {
    font-size: 1.25em;
    font-weight:bold;
    padding: 5px;
}

legend {
    font-size: 1.5em;
    font-weight:bold;
    padding: 5px;
}

#main {
    width: 100%;
}

#cesiumContainer {
    position: relative;
}

#reset_button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

#instructions_button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

#display_button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

#satellite_button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

#fullscreen_button {
    width: 70px;
    height: 70px;
    display: inline-block;
}

#play_button {
    width: 59px;
    height: 38px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

#pause_button {
    width: 59px;
    height: 38px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

#instructions {
    display: none;
    top: 195px;
    left: 10px;
    width: 25%;
}

#satellite_form {
    display: none;
    top: 195px;
    left: 10px;
}

#map_display {
    display: none;
    top: 195px;
    left: 10px;
}

#satellite_display {
    display: none;
    top: 10px;
    right: 10px;
    width: 300px;
}

#satellite_display dl {
    padding: 0.5em;
}

#satellite_display dt {
    float: left;
    clear: left;
    width: 100px;
    color: white;
}

#satellite_display dt:after {
    content: ":";
}

#satellite_display dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

#satellite_display a:link {
    color: #42d025;
    text-decoration:none;
}

#satellite_display a:visited {
    color: #42d025;
    text-decoration:none;
}

#satellite_display a:hover {
    color: #42d025;
    text-decoration:underline;
}

#user_date {
    background-color: #2c751d;
    color: white;
    font-weight: bold;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}

/* Buttons */
#navigation_buttons {
    position: absolute;
    top: 90px;
    left: 10px;
    z-index: 10;
}

#zoom_buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.close_button {
    float: right;
}

.hud_button {
    height: 70px;
    width: 70px;
    display: inline-block;
}

.second_level {
    padding-left: 15px;
}

.modal {
    position: absolute;
    background-color: #2c751d;
    color: white;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
    z-index: 10;
}

.perspective_button {
    padding-top: 5px;
    padding-right: 10px;
}

.float-right {
    float: right;
}