/*
 * SOT Main CSS
 *
 * Copyright:
 *
 * Licensed:
 *
 * Revision:
 */

 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.25;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrap {
    width:100%;
    margin:0 auto;
}

h1 {
    font-size: 1.75em;
    font-weight:bold;
    padding: 5px;
}
h2 {
    font-size: 1.5em;
    font-weight:bold;
    padding: 5px;
}
h3 {
    font-size: 1.25em;
    font-weight:bold;
    padding: 5px;
}

legend {
    font-size: 1.5em;
    font-weight:bold;
    padding: 5px;
}

#main {
    width: 100%;
}

#nav {display: none;}
#instructions {
    display: none;
    position: absolute;
    top: 110px;
    left: 10px;
    background-color: white;
    padding: 10px;
    width: 25%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}
#satellite_form {
    display: none;
    position: absolute;
    top: 110px;
    left: 10px;
    background-color: white;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}
#map_display {
    display: none;
    position: absolute;
    top: 110px;
    left: 10px;
    background-color: white;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}
#satellite_display {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    padding: 10px;
    width: 25%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}
#user_date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    width: 25%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    opacity: 0.85;
}

/* Buttons */
#reset_button {
    position: absolute;
    top: 50px;
    left: 10px;
}

#instructions_button {
    position: absolute;
    top: 50px;
    left: 70px;
}

#display_button {
    position: absolute;
    top: 50px;
    left: 130px;
}

#satellite_button {
    position: absolute;
    top: 50px;
    left: 190px;
}

#fullscreen_button {
    position: absolute;
    top: 50px;
    left: 250px;
}

.button {
    margin-top: 15px;
    float: right;
}