table {border-collapse:collapse;}
table td, table th {border:1px solid #888; padding: 3px;}
table td {text-align: right;}

#browser_list dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: white;
}

#browser_list dd {
    margin: 0 0 0 110px;
    padding-top: 10px;
    display: block;
    height: 75px;
}

body {
    font-family: Sans-Serif;
    padding: 15px;
}

form {
    padding-bottom: 15px;
}

#date {
    padding: 10px 0 10px 0;
}

.modal {
    position: absolute;
    background-color: white;
    border: 1px black solid;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 10;
}

#controls dd {
    padding-top: 5px;
    padding-bottom: 5px;
}

#controls select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 350px;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}